@page
@model Mtd.Cpq.Manager.Pages.Goods.Import.IndexModel
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> Localizer;

@{
    ViewData["Title"] = Localizer["Import from  Price List"];
}
@section Head{
    <link rel="stylesheet" href="~/css/import.css" asp-append-version="true" />
}
<div class="d-flex align-items-center">
    <div class="flex-grow-1">
        <h1>@ViewBag.Title</h1>
    </div>
    <div>
        <a class="btn btn-link" asp-page="./Edit">
            <i class="fas fa-edit"></i>
            Edit params
        </a>
    </div>
</div>
<hr />

<div id="import-selector">
    <form method="post" id="import-form-status">
        <input id="active-import-id" type="hidden" name="active-import-id"
               @if (Model.ImportActive != null) { <text> value="@Model.ImportActive.Id" </text> } />
        <input id="import-listener" type="hidden" value="" />

        <div id="import-modal" @if (Model.ImportActive != null) { <text> style="display: flex" </text> }>
            <div class="flex-grow-1">
                <h5><i class="far fa-life-ring fa-spin" style="font-size: 1.5em"></i> Import procces running</h5>
                <p id="import-status">Start...</p>
            </div>
            <div>
                <button type="button" class="btn btn-danger" onclick="StopImport()">
                    <i class="far fa-stop-circle"></i>
                    Cancel
                </button>
            </div>
        </div>
    </form>

    @if (Model.ImportActive == null)
    {
        <form id="form" method="post" enctype="multipart/form-data">
            <input id="form-import-id" type="hidden" name="form-import-id" value="" />
            <div class="input-group">
                <div class="custom-file" style="text-overflow:ellipsis; white-space:nowrap; overflow:hidden">
                    <input type="file" class="custom-file-input" id="fileUpload" name="fileUpload">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <div style="padding-left: 4px;">
                    <button type="button" class="btn btn-outline-dark" id="btnUpload">
                        <i class="fas fa-upload"></i>
                        Upload File
                    </button>
                </div>
            </div>

            <div class="p-2 d-flex flex-wrap" style="text-transform:uppercase;">
                <div class="p-2">
                    <span class="unselectable" id="note-div" style="cursor: pointer; font-weight: bold; color: navy;" onclick="ClickNote()">
                        <i id="note-icon" class="fas fa-toggle-off fa-lg"></i> @Localizer["LOAD  EXTEND DESCR"] 
                    </span>
                    <input id="note-checkbox" type="checkbox" name="note-checkbox" style="display:none" />
                </div>
                <div class="p-2">
                    <span class="unselectable" id="datasheet-div" style="cursor: pointer; font-weight: bold; color: navy;" onclick="ClickDatasheet()">
                        <i id="datasheet-icon" class="fas fa-toggle-off fa-lg"></i> @Localizer["LOAD TECH DATA"] 
                    </span>
                    <input id="datasheet-checkbox" type="checkbox" name="datasheet-checkbox" style="display:none" />
                </div>
                <div class="p-2">
                    <span class="unselectable" id="archive-div" style="cursor: pointer; font-weight: bold; color: navy;" onclick="ClickArchive()">
                        <i id="archive-icon" class="fas fa-toggle-off fa-lg"></i> @Localizer["If not found, then to the archive"] 
                    </span>
                    <input id="archive-checkbox" type="checkbox" name="archive-checkbox" style="display:none" />
                </div>
            </div>
        </form>
    }

</div>

<div class="mtd-table-overflow">
    <table class="table">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Datetime</th>
                <th>User</th>
                <th>Status</th>
                <th>Note</th>
                <th>Archive</th>
                <th>Datasheet</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ImportList)
            {
                <tr @if (item.Process == 3) { <text> style="color:red" </text> }>
                    <td hidden>@item.Id</td>
                    <td style="white-space:nowrap">@item.DateTime</td>
                    <td style="white-space:nowrap">@item.User</td>
                    <td style="width:100%">@item.Status</td>
                    <td style="text-align:center">@item.NoteLoad</td>
                    <td style="text-align:center">@item.OldToArchive</td>
                    <td style="text-align:center">@item.DatasheetLoad</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-end" style="margin-top: -8px; white-space: nowrap">
                            <div>
                                <a asp-page="./Details" asp-route-id="@item.Id">
                                    <i class="fas fa-edit"></i>
                                    Details
                                </a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-link" data-toggle="modal" onclick="DeleteParameter('@item.Id')" data-target="#delete-modal">
                                    <i class="far fa-trash-alt"></i>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<form method="post">
    <input id="delete-input" name="delete-input" type="hidden" />
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Delete import log
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" asp-page-handler="Delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/import.js" asp-append-version="true"></script>

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function ClickNote() {

            var div = document.getElementById("note-div");
            var icon = document.getElementById("note-icon");
            var checkbox = document.getElementById("note-checkbox");
            icon.className = "";
            if (checkbox.checked) {
                div.style.color = "navy";
                icon.classList.add("fas", "fa-toggle-off", "fa-lg");
            } else {
                div.style.color = "red";
                icon.classList.add("fas", "fa-toggle-on", "fa-lg");
            }

            checkbox.checked = !checkbox.checked;

        }

        function ClickDatasheet() {

            var div = document.getElementById("datasheet-div");
            var icon = document.getElementById("datasheet-icon");
            var checkbox = document.getElementById("datasheet-checkbox");
            icon.className = "";
            if (checkbox.checked) {
                div.style.color = "navy";
                icon.classList.add("fas", "fa-toggle-off", "fa-lg");
            } else {
                div.style.color = "red";
                icon.classList.add("fas", "fa-toggle-on", "fa-lg");
            }

            checkbox.checked = !checkbox.checked;

        }

        function ClickArchive() {

            var div = document.getElementById("archive-div");
            var icon = document.getElementById("archive-icon");
            var checkbox = document.getElementById("archive-checkbox");
            icon.className = "";
            if (checkbox.checked) {
                div.style.color = "navy";
                icon.classList.add("fas", "fa-toggle-off", "fa-lg");
            } else {
                div.style.color = "red";
                icon.classList.add("fas", "fa-toggle-on", "fa-lg");
            }

            checkbox.checked = !checkbox.checked;

        }

        function DeleteParameter(id) {
            document.getElementById("delete-input").value = id;
        }


    </script>


}
